<div class="row full-height">
    <div class="column left">
        <div id="eventInfo1">
            <img id="calendarIcon" src="resources/images/calendarIcon1.png" alt="Italian Trulli"><br>
            Dato: <span>{{nextEvent.start.getDay()}}. {{months[nextEvent.start.getMonth()]}}</span><br>
            Tid: <span>{{nextEvent.startTimeString}} - {{nextEvent.endTimeString}}</span><br>
            Sted: <span>{{nextEvent.location}}</span><br>
        </div>
        <div id="eventInfo2">
            <span>{{nextEvent.title}}</span><br>
            <h1>{{nextEvent.title}}</h1><br>
            <span id="eventDescription">{{nextEvent.description}}</span><br>
        </div>
    </div>
    <div id="upcomingEvents" class="box column right">
        <div ng-repeat="event in upcomingEvents">
            <div class="monthSeparator" ng-if="event.start.getMonth() != upcomingEvents[$index - 1].start.getMonth()">
                {{months[event.start.getMonth()].toUpperCase()}}:
            </div>
            <div class="upcomingEvent">
                <span>{{event.dateString}}</span><br>
                <span class="upcoming-title">{{event.title}}</span><br>
                <span>{{event.location}}</span><br>
            </div>
        </div>
    </div>
</div>
