html, body {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 7px;
  line-height: 1;
}

.full-height {
  height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  padding: 10px;
}

.pointer{
  cursor: pointer;
}

.left {
  background-color: #011452;
  color: #ffffff;
  flex: 1 1 70%;
}

.right {
  background-color: #e3e3e3;
  width: 25%;
  flex: 1 1 25%;
  min-width: 250px;
}

#eventInfo1{
  position: relative;
  left: 10%;
  top: 7%;
  height: 20%;
}
#calendarIcon{
  height: 25px;
  width: 25px;
  position: relative;
  margin-bottom: 5px;
}

#eventInfo2{
  position: relative;
  left: 10%;
  top: 12%;
  max-width: 80%;
}

#eventInfo1 span{
  font-weight: bold;
}

#workplaceLogo{
  position: relative;
  top: 20%;
  left: 10%
}

#workplaceLogo img{
  height: 36px;
}



#eventDescription{
  word-wrap: break-word;
}

.upcomingEvent{
  position: relative;
  left: 5%;
  width: 90%;
  margin-bottom: 20px;
  padding-left: 5px;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #011452;
}
.upcomingEvent span{
    display: inline-block;
}

.upcoming-title{
  color: #011452;
  font-weight: bold;
}

.monthSeparator{
  position: relative;
  left: 5%;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #011452;
}

#upcomingEvents{
  min-height: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* OVERVIEW*/
#overview{
  background-color: #011452;
  color:white;
  text-align: center;
}

.groupLinksHolder{
  margin: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.groupLink{
  flex: 1 1 300px;
  position: relative;
  background-color: #e3e3e3;
  color: #222222;
  margin: 5px;
}